@charset "utf-8";
body {
  background-color: #1E1E1E;
}
h1 {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 39px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 39px;
  color: antiquewhite
}
h3 {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 39px;
  color: antiquewhite
}
p {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 39px;
  color: antiquewhite
}
blockquote {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 39px;
  color: antiquewhite
}
pre {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 19px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 39px;
  color: antiquewhite
}

a:link {
  color: orangered;
}

a:visited {
  color: gold;
}